html{
    background-color:black;
}

body{
    /* margin-top:30px; */
    background-image: url('/images/main_background.jpg');
    background-size:cover;

}
@keyframes App-logo-spin{
    from{
        transform:rotate (0 deg)
    }
    to{
        transform:rotate (360 deg)
    }
}